@model AutorenProjekt2.Models.Buch

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Buch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buchtitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buchtitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klappentext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klappentext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erscheinungsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erscheinungsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
