@model AutorenProjekt2.Models.Buch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buchtitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buchtitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klappentext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klappentext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erscheinungsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erscheinungsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
