@model IEnumerable<AutorenProjekt2.Models.Buch>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Bücher anlegen</h1> *@

<p>
   @*  <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @*    @Html.DisplayNameFor(model => model.Buchtitel) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Klappentext) *@
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Preis) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Erscheinungsdatum) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.ISBN) *@
            </th>
            <th>
               @*  Buch Cover *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                <img src="@Html.DisplayFor(modelItem => item.BuchCover)" alt="@Html.DisplayFor(modelItem => item.Buchtitel)">

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buchtitel)
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Klappentext) *@
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Preis) *@
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Erscheinungsdatum) *@
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.ISBN) *@
            </td>
                
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-controller="Rezension" asp-action="BuchRezension" asp-route-id="@item.Id">Details</a> |
               @*  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
