@model IEnumerable<AutorenProjekt2.Models.Buch>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Bücher anlegen</h1> *@

<p>
   @*  <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @*    @Html.DisplayNameFor(model => model.Buchtitel) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Klappentext) *@
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Preis) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.Erscheinungsdatum) *@
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.ISBN) *@
            </th>
            <th>
               @*  Buch Cover *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>



        <div class="BuecherGalerie">
            @foreach (var item in Model)
            {
                <div>
                    <a asp-action="BuchRezension" asp-controller="Rezension" asp-route-id="@item.Id">
                        <img src="@item.BuchCover" alt="@item.Buchtitel" />
                    </a>
                    <p>@item.Buchtitel</p>
                </div>
            }
        </div>




  

        @* @Html.DisplayFor(modelItem => item.Buchtitel) *@
            
               @*  @Html.DisplayFor(modelItem => item.Klappentext) *@
           
               @*  @Html.DisplayFor(modelItem => item.Preis) *@
           
               @*  @Html.DisplayFor(modelItem => item.Erscheinungsdatum) *@
          
               @*  @Html.DisplayFor(modelItem => item.ISBN) *@
          
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@



                    @* <a asp-controller="Rezension" asp-action="BuchRezension" asp-route-id="@item.Id">Details</a>  *@


               @*  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@



          

    </tbody>
</table>
