@model AutorenProjekt2.Models.Buch

@{
    ViewData["Title"] = "Rezensionen für @Model.Buchtitel";
}

<h1>Rezensionen für "@Model.Buchtitel"</h1>

<!-- Buchdetails -->
<div>
    <h3>Buchdetails</h3>
   @*  <p><strong>Titel:</strong> @Model.Buchtitel</p> *@
    <p> <img src="@Model.BuchCover" alt="@Model.Buchtitel" style="max-width: 500px; height: auto;" /></p>
    <p class="buchKlappentext"> @Model.Klappentext</p>
    <p class="preis"><strong>Preis:</strong> @Model.Preis €</p>
    <p class="erscheinungsdatum"><strong>Erscheinungsdatum:</strong> @Model.Erscheinungsdatum.ToShortDateString()</p>
</div>

<hr />

<!-- Rezensionen anzeigen -->
<h1>Rezensionen</h1>
@if (Model.Rezensionen != null && Model.Rezensionen.Any())
{
    <table class="table">
        <thead class="ueberschriftRez">
            <tr>
                <th>Name</th>
                <th>Kommentar</th>
                <th>Bewertung</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rezension in Model.Rezensionen)
            {
                <tr class="rezInhalt">
                    <td>@rezension.Name</td>
                    <td>@rezension.Kommentar</td>
                    <td>@rezension.Bewertung von 5 Sternen</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Es sind noch keine Rezensionen für dieses Buch vorhanden.</p>
}

<p>
    <a asp-action="Create"  class="btn btn-primary">Rezension schreiben</a>
</p>
