@model IEnumerable<AutorenProjekt2.Models.Rezension>

@{
    ViewData["Title"] = "Index";
}

<h1>Rezension schreiben</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kommentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bewertung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bücher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kommentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bewertung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bücher.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
